footer {
    display: grid;
    justify-content: center;
    align-content: end;
    width: 100%;
    height: auto;
    padding: 3rem;
    background: #E3E6F3;
}
  
footer .container-footer {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 1rem;
}
  
footer .container-footer .sec h2 {
    position: relative;
    font-size: 2rem;
    color: #1a1a1a;
    font-weight: 600;
    margin-bottom: .95rem;
}
  
footer .container-footer .sec h2::after {
    position: absolute;
    content: "";
    width: 50px;
    height: .125rem;
    background-color: #088178;
    bottom: -0.1rem;
    left: 0;
}
  
footer .container-footer .sec p {
    color: #1a1a1a;
}
  
footer .container-footer .sci {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,50px);
}
  
footer .container-footer .sci li {
    list-style: none;
}
  
footer .container-footer .sci li a {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: #E3E6F3;
    display: grid;
    align-content: center;
    justify-content: center;
    justify-content: center;
    text-decoration: none;
} 
  
footer .container-footer .sci li a i {
    color: #1a1a1a;
    font-size: 20px;
}
  
footer .container-footer .quicklinks {
    position: relative;
}
  
footer .container-footer .quicklinks ul li {
    list-style: none;
}
  
footer .container-footer .quicklinks ul li a {
    color: #1a1a1a;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
  
footer .container-footer .contact .info {
    position: relative;
}
  
footer .container-footer .contact .info p {
    position: relative;
    grid-column: 2;
    margin: 0;
}
  
footer .container-footer .contact .info li {
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}
  
footer .container-footer .contact .info li span {
    color: #1a1a1a;
    font-size: 20px;
    grid-column: 1;
}
  
footer .container-footer .contact .info li a {
    color: #1a1a1a;
    text-decoration: none;
}
  
.copyrightText {
    width: 100%;
    background-color: #E3E6F3;
    text-align: center;
    padding: .5rem 0;
}
  
.copyrightText p {
    font-size: 1rem;
}

@media(max-width: 1000px) {
    footer {
        padding: 40px;
    }
  
    footer .container-footer {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
  
    .copyrightText {
        padding: 20px 40px 30px;
    }
}
  
@media(max-width: 768px) {
    footer .container-footer {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}
  