@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#pagination {
    padding-top: 2rem;
    padding-bottom: 4rem;
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: #088178;
    padding: .9rem 1.25rem;
    border-radius: .25rem;
    color: white;
    font-weight: 600;
}

#pagination a i {
    font-size: 1rem;
    font-weight: 600;
}